[Desktop Entry]
Name=Slack (containerized)
Comment=Slack Desktop
GenericName=Slack Client for Linux
Exec=attach_app.sh slack "/usr/bin/slack %U"
Icon=slack
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Network;InstantMessaging;
MimeType=x-scheme-handler/slack;
StartupWMClass=containerized-slack
